<% @page_title = "#{@issue.title} - #{@issue.created_at.strftime("%d/%m/%Y")}" %>
  <img class="issueDetail__app_logo" src="https://www.hostingme.co.uk/img/logos/app-icon.png" alt="Hosting Me" width="84" height="84">
  <h1 class='issueDetail__title'><%= @issue.title %></h1>
  <p class='issueDetail__date'>Opened on <%= @issue.created_at.strftime("%A #{@issue.created_at.day.ordinalize} %B %Y") %>, last updated <%= time_tag @issue.updated_at %></p>

  <section class='issueDetail'>
  <div class='container'>
    <div class='issueUpdates'>
      <% @updates.each do |update| %>
      <div class='issueUpdates__update'>
        <a name='update-<%=update.identifier%>'></a>
        <table class='issueUpdates__text'>
          <tbody>
            <tr>
              <td class="issueDetail__table-spacing"><b class='issueUpdate__state issueUpdate__state--<%= update.state %>'><%= update.state.humanize %></b></td>
              <td><%= update.text %></td>
            </tr>
  	        <tr>
              <td></td>
              <td><p class='issueUpdates__meta'>
                Posted <%= time_tag update.created_at%>
                <% if update.user %>by <%= update.user.name %><% end %>
              </p></td>
            </tr>
          </tbody>
        </table>
      </div>
      <% end %>
    </div>
    <div class="issueDetail__detailsRecap">
      <table class='issueUpdates__text'>
        <tbody>
          <tr height="50">
            <td class="issueDetail__table-spacing">
              <b class='issueUpdate__state'>Issue reported</b>
            </td>
            <td>
              <%= @issue.created_at.strftime("%A #{@issue.created_at.day.ordinalize} %B %Y") %>
            </td>
          </tr>
          <tr height="50">
            <td class="issueDetail__table-spacing">
              <b class='issueUpdate__state'>Last updated</b>
            </td>
            <td>
              <%= time_tag @issue.updated_at %>
            </td>
          </tr>
          <% unless @issue.services.empty? %>
            <tr height="50">
              <td class="issueDetail__table-spacing">
                <b class='issueUpdate__state'>Affected <br>services</b>
              </td>
              <td>
                <ul class="maintenace__inline">
                  <% @issue.services.each do |service| %>
                  <li><%= service.name %></li>
                  <% end %>
                </ul>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
